[Unit]
Description=Windows bridge for GPG Agent's browser socket
Requires=gpg-agent-broser.socket
CollectMode=inactive-or-failed

[Service]
ExecStart=gpgagentbridge agent-browser-socket
StandardInput=socket
StandardOutput=socket
StandardError=journal
