[Unit]
Description=Windows bridge for GPG Agent's ssh socket
Requires=gpg-agent-ssh.socket
CollectMode=inactive-or-failed

[Service]
# EnvironmentFile=%E/gpgagentbridge/git-for-windows.env
# EnvironmentFile=%E/gpgagentbridge/gnupg-standalone.env
# ExecSearchPath=
ExecStart=gpgagentbridge.exe agent-ssh-socket
StandardInput=socket
StandardOutput=socket
StandardError=journal
