[Unit]
Description=Windows bridge for GPG Agent
Requires=gpg-agent.socket
CollectMode=inactive-or-failed

[Service]
# EnvironmentFile=%E/gpgagentbridge/git-for-windows.env
# EnvironmentFile=%E/gpgagentbridge/gnupg-standalone.env
# ExecSearchPath=
ExecStart=gpgagentbridge.exe agent-socket
StandardInput=socket
StandardOutput=socket
StandardError=journal
