[Unit]
Description=Windows bridge for GPG Agent' extra socket
Requires=gpg-agent-extra.socket
CollectMode=inactive-or-failed

[Service]
# EnvironmentFile=%E/gpgagentbridge/git-for-windows.env
# EnvironmentFile=%E/gpgagentbridge/gnupg-standalone.env
# ExecSearchPath=
ExecStart=gpgagentbridge.exe agent-extra-socket
StandardInput=socket
StandardOutput=socket
StandardError=journal
