[Unit]
Description=Windows bridge for GPG Agent's browser socket
Requires=gpg-agent-browser.socket
CollectMode=inactive-or-failed

[Service]
# EnvironmentFile=%E/gpg-bridge/git-for-windows.env
# EnvironmentFile=%E/gpg-bridge/gnupg-standalone.env
# ExecSearchPath=
ExecStart=gpg-bridge.exe agent-browser-socket
StandardInput=socket
StandardOutput=socket
StandardError=journal
